* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #c7c7c7;
}

.imgHeght-Custom {
    height: 200px;
    width: 100%;
}

.text-center {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 35px;
}

.accordion-button {
    background-color: #dadada;
    border: none;
}

.accordion-collapse {
    background-color: #dadada;
    border: none;
}

.accordion-button::after {
    content: ""; 
    float: left; /* đặt biểu tượng sang phải */
    left: 0;
    transition: transform 0.3s ease; /* hiệu ứng chuyển đổi */
    position: absolute;
}

.accordion-button[aria-expanded="true"]::after {
    transform: rotate(-90deg); /* xoay biểu tượng khi mở rộng */
}

.accordion-body > ul > li {
    font-size: 20px;
}

.Menu1 > li {
    font-weight: bold;
}

.Menu1 > li > ul > li {
    font-weight: normal;
}

.inputHeight-custom {
    height: 80px;
}

#btn-Custom {
    background-color: black;
    border: transparent;
}

#btn-Custom:hover {
   opacity: 0.7;
}

.contact p {
    font-size: 20px;
}

.contact p:first-child {
    font-size: 25px;
    font-weight: bold;
}

.mail a{
    color: black;
    text-decoration: none;
}

.mail a:hover {
    text-decoration: underline;
}

.body-Discuss {
    display: block;
}

.discuss-detail {
    border: 1px solid black;
    height: 320px;
    width: 100%;
    overflow-y: scroll;
}